
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Logs
*.log

# DB
*.sqlite3

# coverage
.coverage
htmlcov