{% extends 'serie_zeta/base.html' %}
{% load bootstrap_icons %}

{% block page_header %}
  <h1>Squadre</h1>
{% endblock page_header %}

{% block content %}
  <div class="container w-75">
    <ul class="list-group">
      {% for team in teams %}
        <li class="list-group-item list-group-item-action">
          <div class="container">
            <div class="row">
              <div class="col">
                <a href="{% url 'team:team' team.id %}"
                   class="link-underline link-underline-opacity-0">
                  {{ team.name }}</a>
              </div>
              <div class="col-1">
                <a href="{% url 'team:edit_team' team.id %}"
                   class="link-underline link-underline-opacity-0">
                  {% bs_icon 'pencil-square' size='1.15em'%}</a>
              </div>
              <div class="col-1">
                <a class="p-2 link-underline link-underline-opacity-0"
                   href="{% url 'team:delete_team' team.id %}">
                  {% bs_icon 'trash' size='1.15em' color='red'%}</a>
              </div>
            </div>
          </div>
        </li>
      {% empty %}
        <li class="list-group-item">Non ci sono squadre</li>
      {% endfor %}
    </ul>

    <div class="button mt-2">
      <a class="btn btn-primary" href="{% url 'team:new_team' %}">Crea squadra</a>
    </div>
  </div>
{% endblock content %}