{% extends 'serie_zeta/base.html' %}

{% block content %}

  <h2>Tornei</h2>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Codice</th>
        <th>Data di inizio</th>
      </tr>
    </thead>
    <tbody>
      {% for tournament in tournaments %}
        <tr>
          <td>{{ tournament.name }}</td>
          <td>{{ tournament.code }}</td>
          <td>{{ tournament.start_date }}</td>
          <td><a href="{% url 'serie_zeta:tournament' tournament.id %}"> Dettagli </a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Non ci sono tornei</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'serie_zeta:new_tournament' %}">Aggiungi un torneo</a>

{% endblock content %}